[submodule "nodejs-timeouts"]
	path = nodejs-timeouts
	url = https://github.com/kaiosilveira/nodejs-timeouts.git
[submodule "nodejs-circuit-breaker"]
	path = nodejs-circuit-breaker
	url = https://github.com/kaiosilveira/nodejs-circuit-breaker.git
[submodule "nodejs-fail-fast"]
	path = nodejs-fail-fast
	url = https://github.com/kaiosilveira/nodejs-fail-fast.git
[submodule "nodejs-handshaking"]
	path = nodejs-handshaking
	url = https://github.com/kaiosilveira/nodejs-handshaking.git
[submodule "nodejs-let-it-crash"]
	path = nodejs-let-it-crash
	url = https://github.com/kaiosilveira/nodejs-let-it-crash
